body{
	width:100%;
	height:100%;
}


.menu2:hover {
	font-size:175%;
	transition:.5s ease;
}


footer {
	color: #e6e6e6;
	text-align:center;
	padding:15px;
	background-color:#1a1a1a;
}

/*.jumbotron h3 {
	color:#3f3f77;
	position:relative;
	text-align:left;
	font-family:"Merriweather Sans regular",sans-serif;
	font-size:250%;
	padding-top:80px;
	padding-left:100px;
	padding-bottom:290px;
	
}*/



.jumbotron  {
	
	background-position:center;
	background-image: url("../img/construction-2667px.png");
	background-size: contain;
	/*background-repeat:no-repeat;*/
	
}

#cont {
	margin-top:300px; 
	margin-bottom:300px;
}

.icons{
	font-size:4em;
	text-align:right;	
	font-family:"Merriweather sans", bold, sans-serif;
	
}

.icons a {
	color:#c1272d;
}

.h3w {
	color:#c1272d;
}

/*===Social media presence effects STARTS===*/

.fa-instagram:hover{
	font-size:123%;
	transition:.3s ease-out;
}
.fa-wordpress:hover{
	font-size:123%;
	transition:.3s ease-out;
}
.fa-twitter:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-dribbble:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-github:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-codepen:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-flickr:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-behance:hover{
	font-size:123%;
	transition:.5s ease-out;
}
.fa-youtube-play:hover{
	font-size:123%;
	transition:.5s ease-out;
}

/*===Social media presence effects ENDS====*/


.skills{
	text-align:center;
	font-family:"Merriweather sans", bold, sans-serif;
}

.skills h2{
	font-size:250%;
	color:#3d3d4c;
	font-weight:bolder;
}


.skills_box{
	text-align:center;
	font-size:500%;
	margin-top:-1px;
}

#skills_box{
	color:#3d3d4c;
	text-align:center;
}

.skills_box h4{
	font-family:sans-serif;
	font-weight:bolder;

}

.works{
	position:relative;
	text-align:center;
}

.works p {
	color:#3f3f77;
	font-size:4em;
	font-family:"Merriweather sans", sans-serif, bold;
}

.works:hover a {
	text-decoration: none;
}

/*=======WORKS TRANSITIONS BELOW========*/

.works_one{
	position:relative;
	text-align:center;
	
}

.works_t1 {
	margin-top:-200px;
	margin-bottom:120px;
	padding:20px;
	position:relative;
	border-radius:5px;
	z-index:10;
	color:white;
	letter-spacing:0.5px;
	background:black;
	visibility:hidden;
}

.works_one:hover .works_t1 {
	opacity:0.8;
	visibility:visible;
	transition:.7s ease-in;
	transition:.3s ease-out;
	
}
/*------------------works_two-------------------*/
.works_two{
	position:relative;
	text-align:center;
	
}

.works_t2 {
	margin-top:-195px;
	margin-bottom:139px;
	padding:10px;
	position:relative;
	border-radius:5px;
	z-index:50;
	color:white;
	letter-spacing:0.5px;
	background:black;
	visibility:hidden;
}

.works_t3 {
	margin-top:-200px;
	margin-bottom:120px;
	padding:5px;
	position:relative;
	border-radius:5px;
	z-index:50;
	color:white;
	letter-spacing:0.5px;
	background:black;
	visibility:hidden;
}

.works_two:hover .works_t2 {
	opacity:0.8;
	visibility:visible;
	transition:.7s ease-in;
	transition:.3s ease-out;
	
}

.works_two:hover .works_t3 {
	opacity:0.8;
	visibility:visible;
	transition:.7s ease-in;
	transition:.3s ease-out;
	
}
/*=======WORKS TRANSITIONS ABOVE========*/


.footerlogo {
	width:5%
}



/*=======SCREEN SIZING OPTIONS BELOW=========*/

@media screen and (min-width: 320px) and (max-width: 1365px){
	.jumbotron {
		background-repeat:no-repeat;
	}
	
/*		.jumbotron h3 {
		font-size:270%;
		padding-left:25px;
	}*/
	#cont {
	margin-top:30px; 
	margin-bottom:30px;
	}

	.quote{
		font-size:100%;
	}
	
	.skills h2{
	font-size:1.8em;
	}
	
	.works p {
		font-size:3em;
	}
	
	.works_t2{
		
		bottom:-50px;	
	}
	
	.works_t3{
		
		bottom:-60px;	
	}
	
	.footerlogo {
	width:10%
	}
	
}

@media screen and (min-width:320px) and (max-width:425px){
		.jumbotron {
		background-image: url("../img/construction-1280px.png");
		}
		
			#cont {
		margin-top:30px; 
		margin-bottom:30px;
		}
		.h3w {
		color:#e6e6e6;
		}
		.icons a {
		color:#e6e6e6;
		}
		.statement h3{
			font-size:95%;
		}
		
		#skills_box{
			font-size:400%;
		}
		
		.skills_box h4{
			font-size:25%;
		}

		.works_t2{
		
		bottom:-50px;
		}
		
		.works_t3{
		
		bottom:-60px;
		}
}

@media screen and (min-width:768px) and (max-width:1365px){
	.jumbotron {
		background-size:contain;
		background-image: url("../img/construction-1280px.png");
	}
		#cont {
	margin-top:30px; 
	margin-bottom:30px;
	}
	.h3w {
		color:#e6e6e6;
		}
	.icons a {
		color:#e6e6e6;
		}
}

@media screen and (min-width:426px) and (max-width:850px){
	.jumbotron {
		background-image: url("../img/construction-1280px.png");
		}
	#cont {
	margin-top:30px; 
	margin-bottom:30px;
	}
	.h3w {
		color:#e6e6e6;
		}
		
	.icons a {
		color:#e6e6e6;
		}
	.statement h3{
			font-size:100%;
		}
}
