
body { background-image: url("../src/image3004.png"); width:100%;
 background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;     
 background-size:cover;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


 ul li{
	display: inline;
	margin:5%;
	font-size:2em;
	/*background-color:#295e85;*/
	
}


nav{
    position:float;
    margin:0%;
	/*padding:20%,20%,20%,20%;*/
	background-color:#2479b6;
}

h1 { 
font-size:1.6em; font-weight:normal; word-spacing:0.3em; color:white; 
     font-family:Stencil, Arial Rounded MT Bold, sans-serif; margin:0%; padding-bottom:3%; 
}
h2 {
	font-size:2em; font-family:Arial Rounded MT Bold, sans-serif; float:center;  color:rgb(100,150,230); margin:0%;
}
h3 {font-size:1em; font-family: Arial; float:center; color:rgb(100,100,100);}

h4 {
	font-size:1.7em; font-family: Century Gothic, sans-serif; float:center; color:rgb(0,20,100); 
     font-weight:normal; line-height:1; word-spacing:0.3em; background-color:#efefef;}

	a {text-decoration:none; font-family:Arial Rounded MT Bold, Arial Black, sans-serif; color:rgb(255,255,255); }
	a:hover { color:rgb(0,200,45); background-color:rgb(255,255,0)}	
	
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/*  GRID OF THREE  ====== */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}
.hdimg {
	 width:100%;
	
}
.imgpad {
	/*padding: 20px,20px,20px,20px;*/
	width:75%;
}

footer { background-color:#cecece; padding: 2px;} 
#cc1 {width:5%;}
#cc2 {width:4%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
